/*Trang chu */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    /* padding: 0px 90px; */
    margin-left: 100px;
    margin-right: 90px;
}

/* body {
    display: block;
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;

}



input {
    outline: none;
}

.container {
    max-width: 1240px;
    margin: auto;
}

.line-with-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -60px;
}

.line {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.header-logo {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.header-logo img {
    width: 150px;
    cursor: pointer;
}

.row-flex {
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.header-right nav ul {
    display: flex;
    font-size: 17px;

}

.header-right nav ul li:nth-child(n+2):nth-child(-n+7) {
    margin-left: 20px;
}

.header-right nav ul li a {
    font-family: 'Arial Narrow';
    font-weight: bold;
    line-height: 60px;
}

.header-right nav ul li {
    transition: all 0.3s ease;
}

.header-right nav ul li:hover {
    color: red;
}

.header-search {
    position: relative;
}

.header-search i {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-search input {
    font-family: 'Arial Narrow';
    height: 25px;
    border-radius: 5px;
    padding-left: 20px;
}

/*phần cuộn trang */
header {
    position: relative;
    z-index: 999;
    background-color: white;
    transition: all 0.3s ease;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header.sticky .line-with-logo {
    display: none;
}

header.sticky .row-flex {
    height: 70px;
}

/*header-left*/
.header-left {
    background-color: whitesmoke;
    width: 200px;
    text-align: center;
    margin-top: -40px;
}

.header-search {
    margin-top: 20px;

}

.header-cart {
    margin-top: 20px;
    font-family: 'Arial Narrow';
    color: rgb(3, 121, 154);

}

.header-text {
    align-content: center;
    background-color: rgb(25, 56, 151);
    margin-top: 10px;
    height: 30px;
    color: white;
    font-family: 'Arial Narrow';

}

/*slider*/
.slider {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    aspect-ratio: 2.6/1;
    position: relative;
}

.slider-items {
    position: relative;
    transition: all 0.3s ease;

}

.slider-item {
    position: absolute;

}

.slider-item img {
    width: 100vw;
    height: auto;
}

.slider-arrow i {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.slider:hover .slider-arrow i {
    opacity: 1;
    pointer-events: auto;
}

.slider-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.slider-arrow i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 65px;
}

.slider-arrow i:hover {
    color: red;
}

.slider-arrow i:last-child {
    left: 5px;
}

.slider-arrow i:first-child {
    right: 5px;
}

/* Tao cac cham duoi slider */
.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;

}

.slider-dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.slider-dots .dot.active {
    background-color: white;
}

/*container*/
.content p {
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 17px;
}

.content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 25%;
}

.content p:hover {
    color: red;
    transition: all 0.5s ease;
    cursor: pointer;
}

.content i:hover {
    background-color: red;
    transition: background-color 0.5s ease;
}

.content-one p i {
    background-color: rgb(40, 76, 149);
    color: white;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}



/*Text*/
.Text p {
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Arial Narrow';
    text-align: center;
    font-weight: bold;
}

/**/
.car-line {
    margin-top: 30px;
}

.car-line-one {
    display: flex;

}

.car-line-one-item {
    position: relative;
    overflow: hidden;
    width: 263px;
    height: 296px;
}

.car-line-one-item img {
    height: 100%;
    width: 100%;
    display: block;
}

.car-line-one-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(97, 96, 96, 0.6);
    color: white;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.car-line-one-item-info p:nth-child(2) {
    margin-bottom: 165px;
    margin-top: 5px;

}

.car-line-one-item:hover .car-line-one-item-info {
    transform: translateY(0%);
}


.car-line-one-item-info h1 i {
    color: red;
    font-size: 20px;

}

.car-line-one-item-info h1 {

    font-family: 'Arial Narrow';
    cursor: pointer;


}

.car-line-one-item-info h1:hover {
    color: red;

}

.car-line-one-item-info p {
    font-size: 20px;
    font-family: 'Arial Narrow';
    cursor: pointer;
}

.car-line-one-item-info p i {
    color: red;
    font-size: 20px;

}

.car-line-one-item-info p:nth-child(3):hover {
    color: red;
}

.car-line-one-item-info p:nth-child(4):hover {
    color: red;
}

.discovery {
    margin-top: 30px;
}

.discovery-items {
    display: flex;
}

.discovery-item {
    height: 290px;
    width: 390px;
}

.discovery-item img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;

}

.discovery-item-text {
    margin-top: 5px;
}

.discovery-item-text p {
    font-family: 'Arial Narrow';
    font-size: 17px;
    cursor: pointer;
}

.discovery-item-text p:hover {
    color: red;

}

.discovery-item-text p i {
    color: red;
}

/*car-contact*/
.car-contact {
    margin-top: 40px;
}

.car-contact-conten {
    display: flex;
    justify-content: space-between;
}

.car-contact-conten-left p {
    font-family: 'Arial Narrow';
    font-size: 17px;
    padding: 3px 0px;
    color: gray;
}

.car-contact-conten-left p:nth-child(2) {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
    color: black;
}

.car-contact-conten-left p:nth-child(5) {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
    color: black;
}

.car-contact-conten-right-one button {
    height: 40px;
    width: 260px;
    background-color: rgb(67, 67, 67);
    color: white;
    font-size: 17px;
    font-family: 'Arial Narrow';
}

.car-contact-conten-right-two {
    margin-top: 40px;
}

.car-contact-conten-right-two p {
    font-size: 20px;
    font-family: 'Arial Narrow';
    color: grey;
}

.car-contact-conten-right-three {
    display: flex;
    margin-top: 5px;
}

.car-contact-conten-right-three-subset {
    padding: 0px 5px;
}

.car-contact-conten-right-three-subset i {
    background-color: rgb(67, 67, 67);
    color: white;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}

/*contact new-car*/
.car-contact-conten-right-newcar ul li:nth-child(1) {
    font-size: 20px;
    color: grey;
}

.car-contact-conten-right-newcar ul li {
    font-size: 17px;
    font-family: 'Arial Narrow';

    padding: 10px 0px;
}

/*car-end*/
.car-end {
    margin-top: 40px;
    height: 190px;
    background-color: rgb(26, 26, 26);

}

.car-end p {

    color: white;
    margin-left: 100px;
}

.car-end-text-one p {
    padding: 30px 0px;
    font-family: 'Arial Narrow';
    font-size: 20px;
}

.car-end-text-two p:hover {
    color: red;
}

.car-end-text-two p {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Arial Narrow';
}

/*submenu*/
.submenu-items {
    position: relative;

}

.submenu-item {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
}


.submenu-item ul li:nth-child(1) {
    margin-left: 20px;
}

.submenu-items:hover .submenu-item {
    display: block;
}

.submenu-item ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.submenu-item ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    width: 380px;
    height: 80px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #555;
}

.submenu-item ul li img {
    width: 100px;
    height: auto;
    margin-left: 70px;

}



.submenu-item ul li:hover {
    background-color: red;
    cursor: pointer;
}

.submenu-item ul li span {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 17px;
    color: black;
}

.submenu-item ul li i {
    font-size: 14px;
    color: black;
}

.submenu-item ul li:hover span {
    color: white;
}

.submenu-item ul li:hover i {
    color: white;
}

/*submenu trung tam*/
.submenu-tt-items {
    position: relative;

}

.submenu-tt-item {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    overflow: hidden;


}


.submenu-tt-item ul li:nth-child(1) {
    margin-left: 20px;
}

.submenu-tt-items:hover .submenu-tt-item {
    display: block;
}

.submenu-tt-item ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.submenu-tt-item ul li {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    width: 200px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #555;
    font-size: 17px;
    font-family: 'Arial Narrow';



}

.submenu-tt-item ul li:hover {
    background-color: red;
    cursor: pointer;

}



.submenu-tt-item ul li a:hover {
    color: white;
}

/*submenu dich vu*/
.submenu-dv-items {
    position: relative;

}

.submenu-dv-item {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
}


.submenu-dv-item ul li:nth-child(1) {
    margin-left: 20px;
}

.submenu-dv-items:hover .submenu-dv-item {
    display: block;
}

.submenu-dv-item ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.submenu-dv-item ul li {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    width: 300px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #555;
    font-size: 17px;
    font-family: 'Arial Narrow';



}

.submenu-dv-item ul li:hover {
    background-color: red;
    cursor: pointer;

}



.submenu-dv-item ul li a:hover {
    color: white;
}

/*submenu store*/
.submenu-st-items {
    position: relative;

}

.submenu-st-item {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
}


.submenu-st-item ul li:nth-child(1) {
    margin-left: 20px;
}

.submenu-st-items:hover .submenu-st-item {
    display: block;
}

.submenu-st-item ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.submenu-st-item ul li {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    width: 180px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #555;
    font-size: 17px;
    font-family: 'Arial Narrow';

}

.submenu-st-item ul li:hover {
    background-color: red;
    cursor: pointer;

}

.submenu-st-item ul li a:hover {
    color: white;
}

/*submenu tieu diem*/
.submenu-td-items {
    position: relative;

}

.submenu-td-item {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
}


.submenu-td-item ul li:nth-child(1) {
    margin-left: 20px;
}

.submenu-td-items:hover .submenu-td-item {
    display: block;
}

.submenu-td-item ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.submenu-td-item ul li {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    width: 380px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #555;
    font-size: 17px;
    font-family: 'Arial Narrow';

}

.submenu-td-item ul li:hover {
    background-color: red;
    cursor: pointer;

}

.submenu-td-item ul li a:hover {
    color: white;
}